
/* Genral styling */

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

h1 {
    padding-top: 20px;
    margin-bottom: 50px;
    color: white;
    font-family: 'IM Fell French Canon SC', serif;
    font-weight: 100;
}

h2, h3 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 100;
}

h5 {
    color: ivory;
    font-weight: 100;
}

h6 {
    padding-top: 20px;
    text-align: center;
}

p {
    font-weight: 100;
}

.separator img {
  margin-right: auto;
  float: right;
  z-index: -1;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* Navbar */

.navbar {
    padding-top: 30px;
}
.navbar li a {
    letter-spacing: 4px;
    margin-right: 40px;
    margin-left: 40px;
}

.navbar img {
    margin-right: 0;
    width: 200px;
    height: 40px;
}


@media (max-width: 991px) {
    .navbar #bigscreenlogo {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-brand {
        display: none;
    }
}

/* Home page */


#home-container {
    background-image:linear-gradient(to left top, rgba(73, 220, 216), rgba(74,86,222));
    height: 100vh;
    min-height: 740px;
}

#home-container i {
    color: ivory;
    margin-bottom: 20px;
}

#home-container p {
    font-size: 12px;
    padding-left: 20%;
    padding-right: 20%;
}

.home-info1, .home-info2 {
    text-align: center;
    margin-top: 50px;
}

.home-info1 {
    padding-top: 10vh;
    margin-bottom: 100px;
}

.home-info2{
    padding-bottom: 100px;
}

@media (max-width: 768px) {
    .home-info1 p, .home-info2 p {
        display: none;
    }
}

.get-started {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.get-started .btn {
    border: 2px solid black;
}

.next-page {
    text-align: center;
}

#home-container .next-page i {
    color: black;
}

/* Application page */
#app-container {
    background-image:linear-gradient(to left bottom, rgba(73, 220, 216), rgba(74,86,222));
    /* min-height: 100vh; */
    padding-top: 40px;
}

#app-container p {
    text-align: center;
}

#successImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 768px) {
    #successImage {
        max-width: 75%;
    }
}

.canvas-chart {
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#myChart {
    width: 50%;
    height: 25%;
}

.search-function {
    margin-bottom: 50px;
    text-align: center;
}

.search-function button, .search-function input {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    text-align: center;
}

#rocket {
    max-width: 100px;
    max-height: 200px;
}

/* About section */

#about-container {
    padding-top: 160px;
    padding-bottom: 20px;
    background-image:linear-gradient(to left top, rgba(73, 220, 216), rgba(74,86,222));
    min-height: 100vh;
}

/* #about-container h2 {
    margin-top: 120px;
} */

#about-container i {
    margin-right: 20px;
}

#about-container .checks p {
    padding-top: 5px;
}

.checks {
    padding-left: 7%;
}

.about-text {
    text-align: center;
}

.card-deck {
    margin-bottom: 100px;
}

.portfolio-card{
    max-width: 350px;
    padding: 0px;
    background-color: transparent;
}

.portfolio-card h5 {
    color: black;
}

/* FAQ section */

#faq-container {
    background-image:linear-gradient(to left bottom, rgba(73, 220, 216), rgba(74,86,222));
    /* min-height: 100vh; */
    padding-top: 40px;
    padding-bottom: 20px;
}

/* #faq-container h2 {
    padding-top: 120px;
} */

.accordion .card{
    background-color: transparent;
}

#faq-container {
    padding-bottom: 50px; 
}

#faq-container p {
    text-align: center;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: rgb(208, 51, 78);
}

.contact-info h5 {
    color: black;
    text-align: center;
    margin-top: 30px;
}

/* Footer */

footer {
    background-image:linear-gradient(to left top, rgba(73, 220, 216), rgba(74,86,222));
}